$width: 40px;
.pagination-container {
  display: flex;
  list-style-type: none;

  .pagination-item {
    width: $width;
    height: $width;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 50%;
    line-height: $width;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    cursor: pointer;
    &:hover,
    &.selected {
      background-color: var(--primary);
      color: var(--white);
    }

    &.disabled {
      pointer-events: none;
      color: transparent;

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
