.thin {
  font-weight: 400;
}

.small {
  font-size: 12px;
}

.half-input-table {
  border-collapse: collapse;
  width: 100%;

  td:first-of-type {
    width: 50%;
  }
}

.window {
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  overflow: hidden;
}

.order-info {
  height: 70vh;
  width: 50%;
  overflow-y: scroll;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: var(--second);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
}

.order-table {
  td:first-of-type {
    width: 25%;
  }

  position: relative;
}
.cart {
  width: 100%;
  min-height: 50vh;
  position: relative;
  .icon {
    font-size: 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ddd;
  }
}

.line {
  height: 1px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #ddd;
}

.order-table td:last-of-type {
  vertical-align: top;
  padding-left: 25px;
}

.order-info-content {
  width: 100%;
  table-layout: fixed;
}

.full-width {
  width: 100%;
}

.pay-btn {
  display: block;
  min-width: 100%;
  padding: 4px 0;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  border-radius: var(--button-border-radius);
  border: 1px solid transparent;
  overflow: hidden;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  :first-child {
    font-size: 2.5rem;
    margin-right: 10px;
  }

  &:hover {
    opacity: 0.8;
    color: #eee;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}

.total {
  margin-top: 25px;
  font-size: 20px;
}

.dense {
  line-height: 1.2em;
  font-size: 16px;
  font-size: 1rem;
}

.customer-info {
  width: 50%;
  padding-left: 25px;
  padding-right: 25px;
  .customer-info-content {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    input {
      border: 1px solid #ddd !important;
      outline: none;
      border-radius: 5px;
      margin-bottom: 10px;
      margin-top: 3px;
      line-height: 1.5em;
      font-size: 20px;
      color: var(--text-color) !important;
      border: none;
      padding: 5px 10px 5px 10px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      &:focus {
        outline: none;
        border-color: #000 !important;
      }
    }
  }
}

.select-btn {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  line-height: 5px;
  cursor: pointer;
  position: relative;

  &:after {
    content: '\25BE';
    right: 8px;
    position: absolute;
  }
}

.option {
  position: absolute;
  text-align: left;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 90%;
  left: 2px;
  line-height: 20px;
  margin-top: 2px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .window {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0px;
  }

  .order-info,
  .customer-info {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    border-radius: 0px;
  }

  .pay-btn {
    border-radius: 0px;
  }
}
