.about {
  .cover {
    height: 100vh;
    justify-content: center;
    position: relative;
    padding-bottom: 20px;

    .story-photo {
      margin-top: -100px;
      height: 100%;
      background-image: url('../../assets/images/about-cover.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }

    .bar {
      display: flex;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      border-bottom: solid 0.25rem --primary;
      height: 4.5rem;
      text-align: center;
      align-items: center;
      justify-content: center;
      background-color: #e57905;
      color: #fff;

      h2 {
        font-size: 26px;

        br {
          display: none;
        }
      }
    }
  }

  .content {
    background-color: #fff;
    padding: 2rem 0;

    p {
      font-size: 25px;
      padding-bottom: 1rem;
      text-align: justify;
      text-justify: distribute-all-lines;

      &:last-child {
        padding-bottom: 0;
      }
    }

    // a {
    //   color: $primary;
    //   text-decoration: none;
    //   transition: 0.5s;
    //   &:hover {
    //     color: $secondary;
    //   }
  }
  .gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 2rem;
    gap: 2rem;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      // @include fadeIn(1s, alternate);

      &:nth-child(2) {
        grid-column: 2 / 4;
      }
    }
  }
}
