$header-height: 60px;
.wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  .content {
    min-height: 100vh;
    .header {
      width: 100%;
      height: 60px;
      padding: 0 3rem;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--white);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 2.5rem;
      box-shadow: 3px 2px 5px #ccc;
      position: relative;
      span,
      a {
        color: var(--primary);
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
      .announcement {
        width: 400px;
        height: 50vh;
        background-color: var(--white);
        position: absolute !important;
        z-index: 999;
        border-radius: 5px;
        box-shadow: 0 0 3px #ddd;
        right: 100px;
        top: 80%;
        overflow-y: scroll;
        transform: scale(0);
        transition: all 0.3s;
        transform-origin: top right;
        padding: 15px;
        &.open {
          transform: scale(1);
        }
        &::-webkit-scrollbar {
          width: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: var(--second);
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: var(--primary);
        }
      }
    }
    main {
      padding: calc($header-height + 20px) 30px;
      background-color: var(--bg-gray);
    }
  }
}
