.wrapper {
  h1 {
    border-bottom: 1px solid white;
    color: #3d3d3d;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 10px;
    text-align: center;
  }
  form {
    background: white;
    border: 1px solid #dedede;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 500px;
    padding: 30px 50px;
  }
  input,
  textarea,
  select {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
  }
  textarea.vertical-resize{
    resize: vertical;
  }
  label {
    color: #3d3d3d;
    display: block;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .error {
    font-size: var(--font-sm);
    padding: 3px 0;
    color: var(--err-color);
  }
  .submitButton {
    background-color: var(--primary);
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin: 20px 0px;
  }
  .image {
    width: 400px;
    height: 350px;
    object-fit: contain;
  }
  .height {
    height: 10px;
  }
}
