.wrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: var(--font-heading);
    margin: 10px 0 5px;
    line-height: 1.4;
  }
  p {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
    span {
      margin-left: 5px;
      font-size: 1.5rem;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: var(--primary);
      }
    }
  }
  .form {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 25px auto;
    background-color: var(--white);
    padding: 20px 0;
    input {
      width: 100%;
      border: 1px solid var(--color-border);
      outline: none;
      padding: 9px 10px;
      margin-bottom: 25px;
      color: var(--text-color);
      &:focus {
        border-color: #000;
      }
    }
    p {
      align-self: flex-end;
      cursor: pointer;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--text-color);
        bottom: 2px;
        transition: 0.2s ease-in;
      }
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
    button {
      align-self: flex-start;
    }
  }
}
