@use './Reponsive.scss' as *;
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
:root {
  --primary: #e57905;
  --second: #b3ddca;
  --text-color: #161823;
  --white: #fff;
  //Default layout
  --default-layout-header-height: 60px;
  --top-nav-height: 35px;
  --wrapper-width: 1200px;
  --color-border: rgb(124, 123, 123);
  --font-heading: 2.5rem;
  --font-paragraph: 1.4rem;
  --button-border-radius: 5px;
  --image-border-radius: 15px;
  --button-width: 150px;
  --buton-height: 40px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
p {
  line-height: 1.7;
  word-spacing: 3px;
  font-size: var(--font-paragraph);
}
input {
  font-size: 1.4rem;
}
.container {
  max-width: var(--wrapper-width);
  margin: 0 auto;
}
.container-fluid {
  width: 100%;
}

/*Grid*/
// $grid-width: 100%;
// $gutter-vertical: 4rem;
// $gutter-horizontal: 4rem;
// .row {
//   max-width: $grid-width;
//   margin: 0 auto;
//   &::after {
//     content: '';
//     display: table;
//     clear: both;
//   }
//   [class^='col-'] {
//     float: left;
//     background-color: orange;
//     padding: 1rem;
//     &:not(:last-child) {
//       margin-right: $gutter-horizontal;
//     }
//   }
// }
