@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
:root {
  --primary: #e57905;
  --second: #b3ddca;
  --text-color: #161823;
  --white: #fff;
  //Default layout
  --default-layout-header-height: 60px;
  --top-nav-height: 35px;
  --wrapper-width: 1200px;
  ---color-border: rgb(124, 123, 123);
  ---font-heading:2.5rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Lato', 'IBM Plex Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
p {
  line-height: 1.8;
  word-spacing: 3px;
}
.container {
  max-width: var(--wrapper-width);
  margin: 0 auto;
}

/* Mixin */
/* Set các giá trị với màn hình tương ứng */
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile -width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
