.order-info {
  .btn-link {
    border: none;
    outline: none;
    background-color: var(--white);
    cursor: pointer;
    text-decoration: underline;
    font-size: var(--font-title);
    line-height: 1.7;
    padding: 5px 8px;
    &:hover {
      color: var(--primary);
    }
  }
  &-content {
    width: 100%;
    height: 50vh;
    overflow-y: auto;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    margin-bottom: 60px;
    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: var(--second);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--primary);
    }
  }

  section {
    h4 {
      display: flex;
      align-items: center;
      font-size: var(--font-title);
      .icon {
        font-size: var(--font-heading);
        margin-right: 8px;
        color: var(--primary);
        position: relative;
        top: -2px;
      }
    }
  }
}
.cart {
  width: 100%;
  min-height: 40vh;
  position: relative;
  padding: 15px;
  .icon {
    font-size: 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ddd;
  }
}

.line {
  height: 1px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #ddd;
}

.full-width {
  width: 100%;
}

.dense {
  line-height: 1.2em;
  font-size: var(--font-normal);
}

.total {
  margin-top: 25px;
  font-size: var(--font-title);
  display: flex;
  justify-content: space-between;
  align-items: center;
  select {
    margin-left: 15px;
    font-size: var(--font-title);
    border: 1px solid var(--primary);
    outline: none;
    padding: 0 15px;
    &:focus {
      outline: none;
    }
  }
  .before-discount {
    font-size: var(--font-normal);
    text-decoration: line-through;
    font-weight: 400;
    margin-right: 8px;
  }
  .after-discount {
    font-size: var(--font-heading-sm);
    color: var(--primary);
    font-weight: 500;
  }
}

@media (max-width: 600px) {
  .order-info {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    border-radius: 0px;
  }

  .pay-btn {
    border-radius: 0px;
  }
}
