.wrapper{
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: var(--wrapper-width);
    display: flex;
}
.content{
    flex: 1;
}