$min-height: 100px;

.cart-item {
  min-height: $min-height;
  display: flex;
  overflow: hidden;
  padding: 8px 75px 8px 25px;
  justify-content: space-between;
  box-shadow: 0 0 1px 1px #cccc;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  &-img {
    width: 100px;
    max-height: 200px;
    object-fit: contain;
    margin-right: 15px;
  }
  & ~ .cart-item {
    margin-top: 15px;
  }
  &-info {
    flex: 1;
    margin-right: 25px;
    span {
      font-size: var(--font-sm);
      font-weight: 400px;
      text-transform: capitalize;
      &:first-child {
        font-size: var(--font-normal);
      }
    }
  }
  &-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    .price {
      font-size: var(--font-normal);
      color: var(--price-color);
    }
    .quantity {
      span {
        font-size: var(--font-normal);
        font-weight: 400;
        padding-bottom: 20px;
      }

      .display-flex {
        display: flex;
      }

      .qtyminus,
      .qtyplus {
        width: 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 19px;
        line-height: 36px;
        color: var(--text-color);
        border: 1px solid var(--color-border);
        cursor: pointer;
      }

      .qtyplus {
        border-left: none;
        border-radius: 0 3px 3px 0;
      }

      .qtyminus {
        border-right: none;
        border-radius: 3px 0 0 3px;
      }

      .qty {
        width: 60px;
        height: 34px;
        text-align: center;
      }
    }
  }
  &-remove {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    background-color: #e01010dc;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    .icon {
      font-size: 2.5rem;
      color: var(--white);
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
