.form-control {
  min-width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  input {
    border: 1px solid var(--color-border);
    outline: none;
    padding: 9px 10px;
    color: var(--text-color);
    &:focus {
      border-color: #000;
    }
  }
  .error-message {
    font-size: 1.2rem;
    padding: 3px 0;
    color: var(--err-color);
    visibility: hidden;
    transition: 0.3s all;
    &.on-error {
      visibility: visible;
    }
  }
}
