.wrapper {
    width: 68em;
}

// Start here

$title-color: #222;
$font-color: #777;
$light-gray: #eee;
$primary: #E91E63;
$secondary: #42A5F5;
$primary-color: #64af3d;
// product
$product-box-shadow: 0px 0px 0px 1px $light-gray;

* {
    box-sizing: border-box;
}

body {
    color: $font-color;
    font-family: 'Open Sans', Arial, sans-serif;
}


.product {
    width: 60em;
    margin: 2rem auto;
    // TODO: apply clearfix


    // If want a flexbox grid.
    &.product--flexbox {
        .product__wrapper {
            display: flex;
            flex-wrap: wrap;
        }
    }


    &__wrapper {
        margin-left: -1rem;
        margin-right: -1rem;
        //background: #000;
    }

    &__product-wrapper {
        padding: 1rem;
        float: left;
        width: 33.33333%;
    }


    &__product {
        padding: 1rem;
        // width: 33.33333%;
        // float: left;
        position: relative;
        cursor: pointer;
        background: #fff;
        //box-shadow: $product-box-shadow;
        border-radius: 4px;

        &:hover {
            box-shadow: $product-box-shadow;
            z-index: 50;

            .product__extend {
                display: block;
            }
        }
    }


    // product image
    &__img {
        width: 330px;
        height: 360px;
    }

    //	product name
    &__name {
        margin-top: .875rem;
        display: block;
        font-size: 1.125em;
        color: $title-color;
        height: 3em;
        overflow: hidden;
        position: relative;

        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 2.4em;
            height: 1.5em; // magic number
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
            //background: red;
        }
    }

    &__price {
        color: $primary;
        font-weight: bold;
        letter-spacing: .4px;
    }


    // extend wrapper
    &__extend-wrapper {
        position: relative;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

.left-column {
    width: 65%;

    img {
        width: 700px;
        height: 750px;
    }
}

.right-column {
    width: 35%;
    margin-top: 60px;
}

.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;

    span {
        font-size: 12px;
        color: #358ED7;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
    }

    h1 {
        font-weight: 300;
        font-size: 52px;
        color: #43484D;
        letter-spacing: -2px;
    }

    p {
        font-size: 16px;
        font-weight: 300;
        color: #86939E;
        line-height: 24px;
    }
}

.product-size {
    span {
        font-size: 20px;
        font-weight: 400;
        color: #000000;
        margin-bottom: 20px;
        display: inline-block;
    }

    margin-bottom: 30px;
}
.switch-field {
	display: flex;
	margin-bottom: 36px;
    margin-right: 10px;
	overflow: hidden;
    
	input {
		position: absolute !important;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		width: 1px;
		border: 0;
		overflow: hidden;
		&:checked {
			+ {
				label {
					background-color: #a5dc86;
					box-shadow: none;
				}
			}
		}
	}
	label {
		background-color: #e4e4e4;
		color: rgba(0, 0, 0, 0.6);
		font-size: 14px;
		line-height: 1;
		text-align: center;
		padding: 8px 16px;
		margin-right: -1px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
		transition: all 0.1s ease-in-out;
		&:hover {
			cursor: pointer;
		}
		&:first-of-type {
			border-radius: 4px 0 0 4px;
		}
		&:last-of-type {
			border-radius: 0 4px 4px 0;
		}
	}
}


.product-price {
    display: flex;
    align-items: center;

    span {
        font-size: 26px;
        font-weight: 300;
        color: #43474D;
        margin-right: 20px;
    }
}

.cart-btn {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;

    &:hover {
        background-color: #64af3d;
    }
}

@media (max-width: 940px) {
    .container {
        flex-direction: column;
        margin-top: 60px;
    }

    .left-column {
        width: 100%;

        img {
            width: 300px;
            right: 0;
            top: -65px;
            left: initial;
        }
    }

    .right-column {
        width: 100%;
    }
}