h1 {
  font-size: 2.2rem;
  color: var(--text-color);
}

.wrapper {
  display: flex;
  align-items: baseline;
  column-gap: 2%;
  margin-top: 4rem;
  .user-infor,
  .order-info {
    padding: 0 15px;
    margin-bottom: 40px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    padding: 40px 25px 80px;
    h4 {
      font-size: 1.6rem;
      padding: 8px 0;
      margin-bottom: 15px;
    }
  }
  .user-infor {
    width: 30%;
    position: relative;
    .form-control {
      margin-bottom: 30px;
      input {
        width: 100%;
        font-size: 1.4rem;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--color-border);
        padding: 5px 0 5px 8px;
      }
    }
    .icon {
      font-size: 3rem;
      cursor: pointer;
      padding: 5px;
      position: absolute;
      right: 25px;
      bottom: 20px;
    }
    .logout-btn {
      position: absolute;
      bottom: 20px;
      left: 25px;
    }
  }
  .order-info {
    width: 68%;
  }
}
