.news {
  display: flex;
}
figure.snip1208 {
  //font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  font-size: 16px;
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  img {
    object-fit: contain;
    width: 270px;
    height: 300px;
    vertical-align: top;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  figcaption {
    padding: 25px;
    position: relative;
  }
  .date {
    background-color: #1abc9c;
    top: 25px;
    color: #fff;
    left: 25px;
    min-height: 60px;
    min-width: 60px;
    position: absolute;
    text-align: center;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    span {
      display: block;
      line-height: 30px;
    }
    .month {
      font-size: 16px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  i {
    background-color: #1abc9c;
    top: 25px;
    color: #fff;
    left: 25px;
    min-height: 60px;
    min-width: 60px;
    position: absolute;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 600;
    color: #333333;
    text-transform: uppercase;
  }
  p {
    margin: 0;
    padding: 0;
    font-size: var(--font-normal);
    margin-bottom: 20px;
    line-height: 1.6em;
  }
  a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  &:hover {
    img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    .date {
      -webkit-transform: rotateY(90deg);
      transform: rotateY(90deg);
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    i {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
    }
    button {
      background-color: #117964;
    }
  }
}
figure.snip1208.hover {
  img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .date {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  i {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  button {
    background-color: #117964;
  }
}
