.wrapper {
  background-color: var(--white);
  padding: 30px 40px;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;
    .status {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h4 {
        margin-right: 25px;
      }
    }
  }
  .info {
    text-align: right;
    text-transform: capitalize;
    p {
      font-size: var(--font-normal);
    }
  }
  .order-details {
    margin-bottom: 30px;
  }
  .select-employee {
    justify-content: flex-start;
    margin-bottom: 40px;
    select {
      margin-left: 25px;
      max-width: 50%;
      border-radius: 8px;
      border: 1px solid var(--color-border);
      &:focus {
        outline: none;
        border: 1px solid var(--primary);
      }
    }
  }
  .order-info {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 15px 25px;
    background-color: var(--bg-gray);
    .info {
      text-align: left;
    }
  }
  .product {
    &-item {
      display: flex;
      row-gap: 1.5rem;
      align-items: center;
      padding: 5px 15px;
      img {
        max-width: 80px;
        height: 80px;
        object-fit: contain;
        margin-right: 15px;
      }
      .product-item-info {
        flex: 1;
        span {
          font-size: var(--font-sm);
          font-weight: 400px;
          &:first-child {
            font-size: var(--font-normal);
            text-transform: capitalize;
          }
          .price {
            font-size: var(--font-normal);
            color: var(--price-color);
          }
        }
      }
    }
  }
  h1 {
    font-size: var(--font-heading);
    margin-bottom: 20px;
  }
  h4 {
    font-size: var(--font-heading-sm) !important;
    font-weight: 500;
    padding: 5px 0;
    text-transform: capitalize;
  }
  p {
    font-size: var(--font-normal);
    width: 200px;
    word-wrap: break-word;
    &.price {
      color: var(--font-heading-sm);
      font-size: 1.8rem;
      font-weight: 500;
    }
  }
}
