.wrapper {
  min-width: 40vw;
  .list-star {
    display: flex;
    justify-content: center;
    padding: 1rem;
    .star {
      font-size: 4.5rem;
      padding: 5px;
      color: gray;
      cursor: pointer;
      &.active {
        color: orange;
      }
    }
  }
  .product-info {
    display: flex;
    img {
      max-width: 80px;
      height: 80px;
      object-fit: contain;
      margin-right: 15px;
    }
  }
  form {
    textarea {
      min-height: 200px;
      width: 100%;
      border: 1px solid var(--color-border);
      outline: none;
      border-radius: 10px;
      padding: 10px 8px;
      resize: none;
      &:focus {
        border-color: #000;
      }
    }
  }
}
