@use '../GlobalStyles/Reponsive.scss' as *;
.wrapper {
  display: flex;
  padding: 60px 0;
  justify-content: space-between;
  align-items: center;
  &.reserve {
    flex-direction: row-reverse;
  }
  .col {
    padding: 0 15px;
    flex-basis: 50%;
    vertical-align: middle;
  }
  .image {
    img {
      width: 100%;
      max-height: 100%;
      border-radius: var(--image-border-radius);
      object-fit: contain;
    }
  }
  .content {
    text-align: left;
    flex: 1;
    p {
      font-weight: 400;
      text-align: justify;
      text-justify: inter-ideograph;
      margin: 15px 0;
      font-size: var(--font-paragraph);
      @include mobile {
        display: none;
        transition: all 0.3s;
      }
    }
  }
}
