.wrapper {
  width: 100%;
  min-height: 100px;
  .order-item {
    background-color: var(--white);
    margin-bottom: 2rem;
    box-shadow: 0 0 3px 2px #cccc;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px 15px;
    .header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid var(--primary);
      font-size: 1.3rem !important;
      padding: 3px 0;
    }
    .content {
      display: flex;
      justify-content: space-between;
      row-gap: 1.5rem;
      .price {
        color: var(--price-color);
      }
      .product {
        flex: 1;
        &-item {
          span {
            font-size: 1.2rem;
            font-weight: 400px;
            &:first-child {
              font-size: 1.4rem;
              text-transform: capitalize;
            }
            .price {
              font-size: 1.2rem;
              color: var(--price-color);
            }
          }
        }
      }
      .total {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        font-size: 1.4rem;
        .price {
          font-weight: 600;
        }
      }
    }
  }
}
