.wrapper {
  .filter {
    margin: 25px 0;
    padding: 25px 15px;
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: var(--image-border-radius);
    .filter-item {
      font-size: 1.6rem;
      &.icon {
        font-size: 2.3rem;
        cursor: pointer;
        &:hover {
          color: var(--primary);
        }
      }
      &:not(:last-child) {
        margin-right: 25px;
      }
      input,
      select {
        min-width: 300px;
        padding: 10px 15px;
        border-radius: 8px;
        border: 1px solid var(--color-border);
        &:focus {
          outline: none;
          border: 1px solid var(--primary);
        }
      }
    }
  }
  .table-wrapper {
    width: 100%;
    font-size: 1.4rem;
  }
}
