.user-infor {
  width: 30%;
  padding: 0 15px;
  margin-bottom: 40px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  padding: 40px 25px 80px;
  position: relative;
  h4 {
    font-size: 1.6rem;
    padding: 8px 0;
    margin-bottom: 15px;
  }
  .form-control {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    input {
      width: 100%;
      font-size: 1.4rem;
      border: none;
      outline: none;
      border-bottom: 1px solid var(--color-border);
      padding: 5px 0 5px 8px;
      text-transform: capitalize;
    }
    .action-btn {
      font-size: 2.3rem;
      margin-right: 10px;
      padding: 3px;
      cursor: pointer;
      &:hover {
        color: var(--primary);
      }
    }
  }
  .icon {
    font-size: 3rem;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    right: 25px;
    bottom: 20px;
    margin-right: 10px;
  }
  .logout-btn {
    position: absolute;
    bottom: 20px;
    left: 25px;
  }
}
