.wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: var(--text-color);
  overflow: hidden;
  padding: 3px 0;
  .input-inner {
    width: 250px;
    display: flex;
    align-items: center;
    padding-right: 8px;
    border-right: 2px solid #ccc;
    input {
      width: 200px;
      flex: 1;
      padding: 0 8px;
      border: none;
      outline: none;
      font-size: 1.4rem;
    }
    .clear {
      cursor: pointer;
    }
  }
  button {
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 8px;
  }
}
