@use '../../../components/GlobalStyles/Reponsive.scss' as *;
$wrapper-height: 50vh;
.wrapper {
  width: 100%;
  height: $wrapper-height;
  background-color: var(--white);
  padding-top: 100px;
  text-align: center;
  color: var(--text-color);
  box-shadow: 0 2px 5px #ccc;
  @include mobile {
    padding-left: $sm-spacing;
    padding-right: $sm-spacing;
  }
  &:after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
  }
  .search-wrapper {
    width: 60%;
    display: flex;
    border: 2px solid #cccc;
    border-radius: 10px;
    overflow: hidden;
    @include mobile {
      width: 100%;
      flex-direction: column;
      border: initial;
    }
    .inner-input {
      display: flex;
      flex: 1;
      justify-content: space-between;
      align-items: center;
      padding: 8px 20px;
      position: relative;
      @include mobile {
        border-bottom: 1px solid var(--color-border);
        margin-bottom: 8px;
        padding: 4px 15px;
      }
      input {
        flex: 1;
        border: none;
        outline: none;
        font-size:1.8rem;
        padding-right: 16px;
        @include mobile{
          font-size: var(--font-paragraph);
          padding-right: $sm-spacing;
        }
      }
      .icon {
        height: 100%;
        width: auto;
        cursor: pointer;
        font-size: 1.3rem;
      }
      &:after {
        content: '';
        width: 2px;
        height: 60%;
        background-color: #ccc;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    button {
      width: 60px;
      border: none;
      outline: none;
      background-color: #fff;
      padding: 0 12px;
      cursor: pointer;
      @include mobile {
        align-self: flex-end;
      }
      .icon {
        font-size: 2.5rem;
      }
      &:hover {
        .icon {
          color: var(--primary) !important;
        }
      }
    }
  }
  p {
    margin-top: 50px;
    font-weight: 400;
    color: #000;
    font-size: 1.5rem;
    span {
      color: var(--primary);
      cursor: pointer;
    }
  }
}
.open {
  animation: open 0.4s forwards;
}
@keyframes open {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes close {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50%);
  }
}
