.table-title {
	display: inline;
	vertical-align: middle;
	height: 15px;
}
.table-subtitle-right {
	display: table-cell;
	float: right;
	vertical-align: middle;
	height: 45px;
}
.btn-add {
	background-color: rgb(17, 201, 17);
	cursor: pointer;
	color: rgb(255, 255, 255);
	font-size: 18px;
	&:hover {
		color: #0b0;
		color: #0b0;
	}
}
.col-left {
	text-align: left;
}
.add-icon {
	display: none;
	display: none;
}
.table-content {
    text-align: center;
}
