.wrap {
	max-width: var(--wrapper-width);
	margin: 0 auto;
	display: flex;
	//justify-content: space-evenly;
}

.menu {
	width: 150px;
	margin-top: 10px;
	h3 {
		background: #e57905;
		text-align: center;
		color: white;
		padding: 10px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-weight: bold;
	}

	.category {
		background: #e7eeea;
		text-align: center;
		padding: 10px;
		border: 1px solid #e7eeea;

		a {
			padding: 5px;
			text-decoration: none;
			color: #e57905;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-weight: bold;
		}
		&:hover {
			background-color: #64af3d;
		}
	}
}
.product {
 margin-left: 10px;
}