.wrap {
  display: flex;

  .col {
    padding: 0 15px;
  }

  .menu {
    margin-top: 50px;
    width: 20%;
    box-shadow:  0px 5px 15px 0px var(--primary);
    text-align: center;
    height: 70%;

    h3 {
      font-size: var(--font-heading);
      text-transform: uppercase;
      background: var(--primary);
      // linear-gradient(
      //   to right,
      //   var(--second) 0%,
      //   var(--primary) 100%
      // );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }

    ul {
      padding: 10px 8px;

      li {
        padding: 8px 0;
        font-size: var(--font-title);
        color: var(--text-color);
        font-weight: 400;
        text-transform: capitalize;

        &.active {
          background-color: var(--primary);
          a {
            transform: scale(1.2);
            color: white;
          }
        }
      }
    }
  }

  .product {
    width: 80%;
  }
}